@model Covid_World.Models.ErrorAPI

@{
    ViewData["Title"] = "APIError";
}

<h1 style="color:aliceblue">APIError</h1>

<div style="color:aliceblue">
    <h4>Responce</h4>
    <hr />
    @*<dl class="row">
        <dt class="col-sm-2">
            <a> StatusCode: @Model.HttpResponse.StatusCode</a>
        </dt>
        <dd class="col-sm-10">
            <a> ReasonPhrase: @Model.HttpResponse.ReasonPhrase</a>
        </dd>
    </dl>*@
    <a> @Model.Description</a>
</div>
