@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group-">
    <ul class="horizontalUL">
        <li>
            <div class="card">
                <div class="container">
                    <h4><b>Attualmente positivi</b></h4>
                    <p>73.880</p>
                </div>
            </div>
        </li>

        <li>
            <div class="card">
                <div class="container">
                    <h4><b>Guariti</b></h4>
                    <p>13.030</p>
                </div>
            </div>
        </li>

        <li>
            <div class="card">
                <div class="container">
                    <h4><b>Deceduti</b></h4>
                    <p>10.779</p>
                </div>
            </div>
        </li>

        <li>
            <div class="card">
                <div class="container">
                    <h4><b>Totale positivi</b></h4>
                    <p>97.689</p>
                </div>
            </div>
        </li>
    </ul>

</div>
           