@{
    ViewData["Title"] = "Home Page";
}

    <div class="list-group-">

        <div class="row">
            <div class="column">
                <div class="card">
                    <label>Attualmente positivi</label>
                    <label>73.880</label>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <label>Guariti</label>
                    <label>13.030</label>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <label >Deceduti</label>
                    <label>10.779</label>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <label>Totale positivi</label>
                    <label>97.689</label>
                </div>
            </div>
        </div>


    </div>
           