@{
    ViewData["Title"] = "AboutME";
}

    <div class="ChartBox" style="margin:auto">

        <div class="row" style="margin:15px 0px">
            <div class="column">
                <div class="ChartBox">
                <img src="~/Resource/photo_2020-04-26_18-07-18.jpg"  width="228" style="
    margin:-9px 10px 0px -10px;
    border-radius: 22px;" />
                    <p>Vito Barra</p>
                </div>
            </div>
            <div class="column" style="width: 75%;">
                <div class="ChartBox" style="height: 96%; line-height: 100px;">
                    <p style="font-size: 25px;text-align: center;">
                    sono un giovane studente di informatica che si è prodigato per la prima volta nello svilluppo web. Durante questo difficile periodo ho pensato di aprire questo piccolo progetto per poter aiutare gli interessati ad avere una visione veloce sulla situzione mondiale e nazionale del covid-19 </p>
                </div>
            </div>
        </div>

        <div class="ChartBox">
            <P>contatti :</P>
            <p>email: vb.vitobarra@gmail.com</p>
        </div>
    </div>