body {
    background: #1f1e24;
    /*font-family: Arial, Helvetica, sans-serif;
        
    */
    font-family: "Trebuchet MS";
}

.animate
{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



/* tablet */
@media (max-width: 998px)
{

}

/* telefono */
@media (max-width: 767px) {
    .header__icon-bar{
        display:block;
    }

    .header__menu{
        width: 100%;
        height: 0px;
        overflow: hidden;
    }

    .is-open{
        height: 300px;
        overflow: auto;
    }
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {zoom: 1;} /* IE6 */
*:first-child + html .clearfix {zoom: 1;} /* IE7 */


* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column 
{
    float: left;
    width: 25%;
    padding: 0 10px;
}

@media screen and (max-width: 600px)
{
    .column 
    {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Remove extra left and right margins, due to padding in columns */
.row 
{
    margin: 0 5px;
}


 /* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card > label:first-child 
{
    font-size: 15px;
    font-weight: initial;
    
}

.card > label {
    font-size: 25px;
    font-weight: bold;
}



.ChartBox {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6);
    background-color: #222;
    width: auto;
    height: auto;
    border: 2px solid rgba(0, 169, 255, 0.55);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
.ChartBox > .ChartBox 
{
    display:inline-block;
}

.grafico
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
}

#SelectCounty 
{
    height: 300px;
}

#ChartPlace 
{
    left: 300px;
}

.arancio
{
    color: #ff8d00;
    font-size: 17px;
}

.update
{
    position: absolute;
    right: 100px;
}

.world
{
    padding: 50px
}

/*  Tip:
    se il browser non aggiorna il css è perche salva il file in cache
    basta premre Control-F5 per risolvere il poroblema
    sto cercando altre solunzioni ma per ora quest è
    
    EDIT DI EGIDIO: grazie vito per questo pro tip :)
*/